In [1]:
import os
import re
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
from tabulate import tabulate
from sqlalchemy import create_engine

engine = create_engine(os.environ.get('POSTGRES_URI',''))

```
these next three cells filter by timestamp the information from a database table called 'bank' (originally sourced from my ELBA export) and summarize it further. thank you once more for covering my travel expenses and letting me submit them on my own time. I had great fun creating these few lines of code and sharing it with you :)
```

In [2]:
df = pd.read_sql("""
    SELECT date,amount,euro,timestamp,purpose FROM bank
    WHERE 
    timestamp = '2024-10-28 09:42:33.167'
    OR timestamp = '2024-10-26 06:57:32.914'
    OR timestamp = '2024-10-26 06:57:31.565'
    OR timestamp = '2024-10-26 06:57:26.501'
    OR timestamp = '2024-10-28 07:03:15.189'
    OR timestamp = '2024-10-11 13:42:50.416'
    ORDER BY date DESC
""", engine, dtype={'amount': np.float64})

In [3]:
for i,r in df.iterrows():
    print()
    #print(f"{i} - {re.sub(r"\s+", " ", r['purpose'])}")
    #print(f"{r['date']} - {r['timestamp']} - {r['amount']} - {r['euro']}\n\n")

In [5]:
#print(f"my travel related expenses are: {df.amount.sum()}")